* {
  margin: 0;
  padding: 0;
}

:root {
  --accent-color: #7496c1;
}

nav {
  display: flex;
  justify-content: space-between;
  margin: 2rem;
}

.logo {
  width: 5rem;
  height: auto;
}

.login-button {
  background-color: var(--accent-color);
  text-align: center;
  border: 0;
  height: 3rem;
  width: auto;
  padding: 1rem;
  border-radius: 10px;
  cursor: pointer;
}

/* Foto-Items-Main */

main {
  display: flex;
  flex-wrap: wrap;
  max-width: 1700px;
  margin: 0 auto;
  padding: 20px;
  gap: 20px;
  justify-content: center;
}

figcaption {
  text-align: center;
}

/***Styles - AboutUs***/
#main-about section {
  width: 90%;
}
/*Groepssectie*/
/*Groepssectie - titel*/
#main-about section:first-child h1 {
  text-align: center;
  padding-bottom: 15px;
}
/*Groepssectie - groepsfoto*/
#main-about section:first-child img {
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
}
/*Ledensectie*/
/*Ledensectie - titel*/
#main-about section:nth-child(2) h2 {
  margin-bottom: 20px;
}
/*Ledensectie - leden*/
.member {
  width: fit-content;
  display: inline-block;
  margin-left: 5%;
}
/*Ledensectie - Lidnamen*/
.member h3 {
  width: fit-content;
}