:root {
  --accent-color: #7496c1;
  --color-2: #9eadfc;
  --color-3: #34344d;
  --color-4: #54526a;
}

html,
body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 0.1rem;
}

body {
    display: grid;
    grid-template-areas:
    "nav    nav    nav    nav"
    "header header header header"
    "main   main   main   main"
    "footer footer footer footer";
}

nav {
    grid-area: nav;
    display: flex;
    justify-content: space-between;
}

nav ul {
    display: flex;;
}

nav ul li {
    list-style: none;
}

nav ul li a {
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    color: black;
    font-size: 0.8rem;
    letter-spacing: 0.2rem;
    margin: 0rem 1.5rem 0 0;
}

header {
    grid-area: header;
    background-image: url("https://source.unsplash.com/random/?business,bank");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 50vh;
    text-align: center;
}

header article {
    margin: 0;
    position: relative;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    letter-spacing: 0.2rem;
    width: 50%;
}

main {
    grid-area: main;
}

footer {
    grid-area: footer;
    background-color: lightgrey;
    padding: 20px;
    text-align: center;
}

/* Landing page */

#nav-main nav {
  display: flex;
  justify-content: space-between;
  margin: 2rem;
}

#nav-main nav img {
  width: 5rem;
  height: auto;
}

#nav-main .login-button {
  background-color: var(--accent-color);
  text-align: center;
  border: 0;
  height: 3rem;
  width: auto;
  padding: 1rem;
  border-radius: 10px;
  cursor: pointer;
}

/* Foto-Items-Main */

#nav-main {
  display: flex;
  flex-wrap: wrap;
  max-width: 1700px;
  margin: 0 auto;
  padding: 20px;
  gap: 20px;
  justify-content: center;
}

#nav-main figure figcaption {
  text-align: center;
}

/* Login-Page */

#login-main {
  display: flex;
  justify-content: center;
}

#login-header {
  display: flex;
  justify-content: center;
  padding: 6rem;
}

.logo-login {
  width: 20rem;
  height: auto;
  margin: auto;
}

.login-form input {
  background-color: var(--color-2);
  border: 0;
  display: flex;
  justify-content: center;
  border-radius: 10px;
  margin-top: 1rem;
  margin-bottom: 1rem;
  height: 2rem;
  width: 20rem;
}

.login-form .submit-button {
  margin: auto;
  width: 40%;
  cursor: pointer;
}
