<!DOCTYPE html>
<html lang="nl-BE">
  <!--Metadata-->
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!--Pagina-icoon-->
    <link rel="icon" type="image/x-icon" href="/img/logo.png" />
    <!--Stijlbladen-->
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
    <link rel="stylesheet" href="https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/lipis/flag-icons@6.6.6/css/flag-icons.min.css"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons"/>
    <!--Scripten-->
    <script src="/js/translate.js" defer></script>
    <script src="/js/darkLight.js" defer></script>
    <script src="/js/hamburgerMenu.js" defer></script>
    <!--Paginatitel-->
    <title><%= activePage %></title>
  </head>
  <body class="light">
</html>
