<nav>
  <div id="nav-left">
    <ul class="menu">
      <% const style = "class=" + "active"; let homeStyle = ''; let historyStyle
      = ''; let aboutStyle = ''; let contactStyle = ''; switch(activePage) {
      case "Home": homeStyle = style; break; case "Zoekgeschiedenis":
      historyStyle = style; break; case "Over ons": aboutStyle = style; break;
      case "Contact": contactStyle = style; break; }%>
      <li class="menuItem"><a href="home" <%= homeStyle %>>Home</a></li>
      <li class="menuItem">
        <a href="history" <%= historyStyle %>>Zoekgeschiedenis</a>
      </li>
      <li class="menuItem"><a href="about" <%= aboutStyle %>>Over ons</a></li>
      <li class="menuItem">
        <a href="contact" <%= contactStyle %>>Contact</a>
      </li>
    </ul>
    <button class="hamburger">
      <!-- material icons https://material.io/resources/icons/ -->
      <i class="menuIcon material-icons">menu</i>
      <i class="closeIcon material-icons">close</i>
    </button>
  </div>

  <div id="nav-right">
    <div class="translator">
      <ul>
        <li>
          <a href="#" class="talen">NL</a>
          <ul class="dropdown">
            <li>
              <a href="#" language="dutch" class="active"
                ><span class="fi fi-nl"></span
              ></a>
            </li>
            <li>
              <a href="#" language="english"><span class="fi fi-us"></span></a>
            </li>
            <li>
              <a href="#" language="french"><span class="fi fi-fr"></span></a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
    <input type="checkbox" id="toggle" />
    <label class="toggle" for="toggle">
      <i class="bx bxs-sun"></i>
      <i class="bx bx-moon"></i>
      <span class="ball"></span>
    </label>
  </div>
</nav>
