<!--Navigatiebalk-->
<nav>
  <div id="nav-left">
    <ul class="menu">

      <%# De stijlregel voor een actieve pagina %>
      <% const style = "class=" + 'nav__a--active'; %>
      <%# De stijlregel voor de homepagina %> 
      <% let homeStyle = ''; %>
      <%# De stijlregel voor de historiekpagina %> 
      <% let historyStyle = ''; %>
      <%# De stijlregel voor de over ons-pagina %>
      <% let aboutStyle = ''; %>
      <%# De stijlregel voor de contactpagina %>
      <% let contactStyle = ''; %>
      <%# Per pagina wordt de stijlregel voor een actieve pagina, aan de pagina die op dat moment bekijken wordt %>
      <% switch (activePage) {
        case "Home": 
          homeStyle = style;
          break;
        case "Zoekgeschiedenis":
          historyStyle = style;
          break;
        case "Over ons": 
          aboutStyle = style;
          break;
        case "Contact": 
          contactStyle = style;
          break; 
      } %>

      <li class="menu__li">
        <a href="home" <%= homeStyle %>>Home</a>
      </li>
      <li class="menu__li">
        <a href="history" <%= historyStyle %>>Zoekgeschiedenis</a>
      </li>
      <li class="menu__li">
        <a href="about" <%= aboutStyle %>>Over ons</a>
      </li>
      <li class="menu__li">
        <a href="contact" <%= contactStyle %>>Contact</a>
      </li>
    </ul>
    <!--Hamburgermenu-->
    <!--BRON: https://material.io/resources/icons/-->
    <button class="menu__button--mobile">
      <i class="menuIcon material-icons">menu</i>
      <i class="closeIcon material-icons">close</i>
    </button>
  </div>
  <div id="nav-right">
    <!--Vertaalknop-->
    <div id="translator">
      <ul>
        <li>
          <a href="#" id="lang">NL</a>
          <!--Vertaalknop-dropdownmenu-->
          <ul class="translator__ul--dropdown">
            <li>
              <a href="#" class=".nav__a--active" onclick="updateLanguage('nl')">
                <span class="fi fi-nl"></span>
              </a>
            </li>
            <li>
              <a href="#" onclick="updateLanguage('en')">
                <span class="fi fi-us"></span>
              </a>
            </li>
            <li>
              <a href="#" onclick="updateLanguage('fr')">
                <span class="fi fi-fr"></span>
              </a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
    <!--Donker/Licht-modusknop-->
    <input type="checkbox" id="toggle" />
    <label class="toggle" for="toggle">
      <i class="bx bxs-sun"></i>
      <i class="bx bx-moon"></i>
      <span class="ball"></span>
    </label>
  </div>
</nav>