<% const activePage = "Over ons"; %>
<%- include('partials/heading', {activePage: activePage}) %>
<%- include('partials/nav', {activePage: activePage}) %>
    <header id="header-about">
        <article>
            <h1 class="titleAbout">Over ons</h1>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates
                architecto fugiat soluta aliquam provident inventore maiores accusamus
                explicabo consequuntur voluptas, commodi nam. Nostrum, tempore
                similique! Porro, provident quibusdam. Eos, dolor.
            </p>
        </article>
    </header>
    <main id="main-about">
        <section>
            <h2 class="darkH">Ontmoet het team</h2>
            <div id="members">
                <article class="member">
                    <img src="./img/profile-anthony.jpg" alt=" Individuele foto van Anthony Hellemans." />
                    <div class="member-name">
                        <h3>Anthony Hellemans</h3>
                    </div>
                </article>
                <article class="member">
                    <img src="./img/profile-ilias.jpg" alt="Individuele foto van Ilias Mahyou." />
                    <div class="member-name">
                        <h3>Ilias Mahyou</h3>
                    </div>
                </article>
                <article class="member">
                    <img src="./img/profile-milan.jpg" alt="Individuele foto van Milan Mareels." />
                    <div class="member-name">
                        <h3>Milan Mareels</h3>
                    </div>
                </article>
                <article class="member">
                    <img src="./img/profile-renzo.jpg" alt="Individuele foto van Renzo Declerck." />
                    <div class="member-name">
                        <h3>Renzo Declerck</h3>
                    </div>
                </article>
                <article class="member">
                    <img src="./img/profile-warre.jpg" alt="Individuele foto van Warre Bogaerts." />
                    <div class="member-name">
                        <h3>Warre Bogaerts</h3>
                    </div>
                </article>
            </div>
        </section>
    </main>
    <%- include('partials/footer'); %>