<%# De actieve pagina %>
<% const activePage = "Contact"; %> 

<%# Inladen van de metadata van de webpagina %>
<%- include('partials/heading', { activePage: activePage }) %>
<%# Navigatie inladen %>
<%- include('partials/nav', { activePage: activePage }) %>
<main id="contact">
  <!--Map-->
  <iframe class="map"src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2498.4091171261584!2d4.413987016126526!3d51.2299598387707!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47c3f1df94eb28a5%3A0x39934ed1372329aa!2sAP%20Hogeschool%20-%20Campus%20Spoor%20Noord%20-%20Ellermanstraat!5e0!3m2!1sen!2sbe!4v1680815730992!5m2!1sen!2sbe" width="600" height="450" style="border: 0" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"> </iframe>
  <!--Contactgegevens-->
  <section id="contact-info">
    <h1>Contacteer ons</h1>
    <address>
      <p>
        <i class="fas fa-home"></i>
        Ellermanstraat 33, 2060 Antwerp
      </p>
      <p>
        <i class="fas fa-phone"></i>
        <a href="tel:032203300">+32 3 220 33 00</a>
      </p>
      <p>
        <i class="fas fa-envelope"></i>
        <a href="mailto:hello@nexus.com">hello@nexus.com</a>
      </p>
    </address>
    <!--Contactformulier-->
    <form action="#" class="contact__form">
      <input placeholder="Naam" type="text" name="name" id="name" style="height: 50px" required/>
      <input placeholder="E-mailadres" type="email" name="email" id="email" style="height: 50px" required/>
      <input placeholder="Onderwerp" type="subject" name="subject" id="subject" style="height: 50px" required/>
      <textarea placeholder="Bericht" name="message" id="message" style="height: 50px" required></textarea>
      <input type="submit" value="Verzend" class="submit__button" />
    </form>
  </section>
</main>
<%# Voet inladen %>
<%- include('partials/footer'); %>