<!DOCTYPE html>
<html lang="nl-BE">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--Stijlbladen-->
    <link rel="stylesheet" href="css/style.css">
    <!--Scripts-->
    <script src="js/history.js" defer></script>
    <script src="js/darkLight.js" defer></script> 
    <title>Historiek</title>
</head>
<body class="light">
        <nav>
            <div id="nav-left">
                <ul>    
                    <li><a href="home.ejs">Home</a></li>
                    <li><a href="history.ejs" class="active">Zoekgeschiedenis</a></li>
                    <li><a href="about.ejs">Over ons</a></li>
                    <li><a href="contact.ejs">Contact</a></li>
                </ul>
            </div>
            <div id="nav-right">
                <ul class="translator">
                    <li><a href="#" class="talen">NL</a>
                        <ul class="dropdown">
                            <li><a href="#" language="dutch" class="active"><span class="fi fi-nl"></span></a></li>
                            <li><a href="#" language="english"><span class="fi fi-us"></span></a></li>
                            <li><a href="#" language="french"><span class="fi fi-fr"></span></a></li>
                        </ul>
                    </li>
                </ul>
                <input type="checkbox" id="toggle">
                <label class="toggle" for="toggle">
                <i class="bx bxs-sun"></i>
                <i class="bx bx-moon"></i>
                <span class="ball"></span>
                </label>
            </div>
        </nav>
    <main id="main-history">
        <section id="section-history">
            <h2>Zoekgeschiedenis</h2>
        </section>
        <section id="section-companyInfo">
           <table id="table-companyInfo">
                <caption id="companyName"></caption>
                <tr>
                    <th scope="row">Ondernemingsnummer</th>
                    <td id="companyNumber"></td>
                </tr>
                <tr>
                    <th scope="rowgroup" rowspan="2">Adres</th>
                    <td id="companyAddress"></td>
                </tr>
                <tr>
                    <td id="companyCity"></td>
                </tr>
                <tr>
                    <th scope="row">Datum neerlegging</th>
                    <td id="companyDate"></td>
                </tr>
                <tr>
                    <th scope="row">Eigen vermogen</th>
                    <td id="companyEquity"></td>
                </tr>
                <tr>
                    <th scope="row">Schulden</th>
                    <td id="companyDebts"></td>
                </tr>
                <tr>
                    <th scope="row">Winst</th>
                    <td id="companyProfit"></td>
                </tr>
           </table> 
        </section>
    </main>
    <footer>
        <p>Copyright &copy; 2023-2024 Nexus</p>
      </footer>
</body>
</html>