<% const activePage = "Zoekgeschiedenis" %>
<%- include('partials/heading', {activePage: activePage}) %>
<%- include('partials/nav', {activePage: activePage}) %>
    <main id="main-history">
        <section id="section-history">
            <h2>Zoekgeschiedenis</h2>
        </section>
        <section id="section-companyInfo">
           <table id="table-companyInfo">
                <caption></caption>
                <tr>
                    <th scope="row">Ondernemingsnummer</th>
                    <td></td>
                </tr>
                <tr>
                    <th scope="rowgroup" rowspan="2">Adres</th>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                </tr>
                <tr>
                    <th scope="row">Datum neerlegging</th>
                    <td></td>
                </tr>
                <tr>
                    <th scope="row">Eigen vermogen</th>
                    <td></td>
                </tr>
                <tr>
                    <th scope="row">Schulden</th>
                    <td></td>
                </tr>
                <tr>
                    <th scope="row">Winst</th>
                    <td></td>
                </tr>
           </table> 
        </section>
    </main>
 <%- include('partials/footer'); %>