<!DOCTYPE html>
<html lang="nl-BE">
  <head>
    <!--Metadata-->
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <!--Stijlbladen-->
    <link rel="stylesheet" href="css/style.css"/>
    <link rel="stylesheet" href="https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Varela+Round&display=swap"/>
    <!--Pagina-icoon-->
    <link rel="icon" type="image/x-icon" href="/img/logo.png"/>
    <!--Paginatitel-->
    <title>Login Pagina</title>
  </head>
  <body id="body-login">
    <!--Logingebied-->
    <div id="log">
      <h1>Welkom terug</h1>
      <p>Vul uw gegevens in</p>
      <!--Loginformulier-->
      <script>
        //Als het scherm wordt herladen, dan wordt de pagina teruggebracht in zijn vorige staat
        //BRON: https://itpresent.com/web/javascript/stop_resubmit_html_form_refresh.php
        if (window.history.replaceState) { 
          window.history.replaceState(null, null, window.location.href)
        }
      </script> 
      <form name="frmLogin" action="/login" method="post">
        <div class="login-form__div">
          <label for="email">Gebruikersnaam</label>
          <i class="bx bxs-user"></i>
          <input type="text" name="username" placeholder="Uw gebruikersnaam" required/>
        </div>
        <div class="login-form__div">
          <label for="password">Wachtwoord</label>
          <i class="bx bxs-lock"></i>
          <input type="password" name="password" placeholder="Uw wachtwoord" required/>
        </div>
        <%# Als de gebruiker verkeerde inloggegevens meegaf, dan krijgt de gebruiker een foutmelding te zien. %>
        <% if (locals.noSuccses) { %>
          <span id="log-err">Verkeerde gebruikersnaam of wachtwoord.</span>
        <% } %>
        <input type="submit" value="Log In"/>
      </form>
    </div>
  </body>
</html>
