<!DOCTYPE html>
<html lang="nl-BE">
  <head>
    <!--Metadata-->
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!--Stijlbladen-->
    <link rel="stylesheet" href="css/style.css" />
    <link
      rel="stylesheet"
      href="https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Varela+Round&display=swap"
    />
    <!--Scripts-->
    <script type="text/javascript" src="./js/login.js" defer></script>
    <!--Paginatitel-->
    <title>Login Pagina</title>
  </head>
  <body id="login-body">
    <div id="login-box">
      <h1>Welcome back</h1>
      <p>Enter your details</p>
      <form name="frmLogin">
        <div class="form-group">
          <label for="email">Gebruikersnaam</label>
          <i class="bx bxs-user"></i>
          <input
            type="text"
            name="email"
            placeholder="Uw gebruikersnaam"
            id="email"
            required
          />
        </div>
        <div class="form-group">
          <label for="password">Wachtwoord</label>
          <i class="bx bxs-lock"></i>
          <input
            type="password"
            name="password"
            placeholder="Uw wachtwoord"
            id="password"
            required
          />
        </div>
        <input type="submit" value="Log In" id="submit-button-login" />
      </form>
    </div>
  </body>
</html>
