/* General */
:root {
  /* HEX */
  --nexus-light-blue: #9eacdf;
  --nexus-blue: #7496c1;
  --nexus-dark-purple: #34344d;
  --nexus-purple: #54526a;
  /* RGB */
  --nexus-light-blue-rgb: 158, 172, 223;
  --nexus-blue-rgb: 116, 150, 193;
  --nexus-dark-purple-rgb: 52, 52, 77;
  --nexus-purple-rgb: 84, 82, 106;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 0.1rem;
}

body {
  display: grid;
  grid-template-areas:
    "nav    nav    nav    nav    nav"
    "header header header header header"
    "main   main   main   main   main   "
    "footer footer footer footer footer";
}

nav {
  grid-area: nav;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: var(--nexus-blue);
  box-shadow: 0px 0px 9px 3px rgba(41, 41, 41, 0.25);
}

nav ul {
  display: flex;
}

nav ul li {
  list-style: none;
}

nav ul li a {
  display: block;
  text-decoration: none;
  text-transform: uppercase;
  color: white;
  font-size: 0.8rem;
  letter-spacing: 0.2rem;
  margin: 0rem 1.5rem 0 0;
}

nav ul li a.active {
  color: var(--nexus-dark-purple);
}

#nav-right {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Translator */
.translator {
  position: relative;
  display: inline-block;
}

.translator .dropdown {
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  position: absolute;
  margin: 0 auto;
  right: 11%;
  padding: 0.9rem;
  z-index: 1;
  display: none;
  background-color: var(--nexus-blue);
}

.translator ul {
  text-align: center;
}

.translator ul li {
  display: inline-block;
  position: relative;
}

.translator ul li a {
  text-align: center;
}

.translator .dropdown li {
  display: block;
  margin-top: 10px;
}

.translator .dropdown li a span {
  padding: 0.7rem;
  border-radius: 20%;
}

.translator ul li:hover .dropdown {
  display: block;
}

main {
  grid-area: main;
}

main h1 {
  color: var(--nexus-dark-purple);
  text-transform: uppercase;
  letter-spacing: 0.1rem;
}

main button {
  text-transform: uppercase;
}

footer {
  grid-area: footer;
  background-color: lightgrey;
  color: black;
  padding: 20px;
  text-align: center;
}

/* Home page */
#header-home {
  grid-area: header;
  background: linear-gradient(
      0deg,
      rgba(var(--nexus-blue-rgb), 0.8),
      rgba(var(--nexus-dark-purple-rgb), 0.8)
    ),
    url("../img/header-home.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 40vh;
  text-align: center;
}

#header-home article {
  margin: 0;
  position: relative;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  letter-spacing: 0.2rem;
  width: 50%;
}

#main-home {
  height: 100%;
}
#main-home .green {
  color: green;
}
#main-home .red {
  color: red;
}

.compare-button {
  position: relative;
  padding: 8px 16px;
  background: #009579;
  border: none;
  outline: none;
  border-radius: 2px;
  cursor: pointer;
}

.compare-button:active {
  background: #007a63;
}

.button__text {
  color: #ffffff;
  transition: all 0.2s;
}

.button--loading .button__text {
  visibility: hidden;
  opacity: 0;
}

.button--loading::after {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  border: 4px solid transparent;
  border-top-color: #ffffff;
  border-radius: 50%;
  animation: button-loading-spinner 1s ease infinite;
}

@keyframes button-loading-spinner {
  from {
    transform: rotate(0turn);
  }

  to {
    transform: rotate(1turn);
  }
}

#comparison-tool {
  margin: 50px auto;
  max-width: 60%;
  display: flex;
  flex-direction: column;
  letter-spacing: 0.05rem;
  line-height: 1.5;
}

#comparison-tool h1 {
  margin-bottom: 30px;
}

.comparison-form {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.comparison-form div {
  display: flex;
  flex-direction: column;
}

.comparison-form input {
  padding: 5px;
  width: 15vw;
  height: 30px;
}

.comparison-form::placeholder {
  color: var(--nexus-purple);
  opacity: 50%;
}

.comparison-form .compare-button {
  padding: 5px 20px;
  min-width: 150px;
  background-color: var(--nexus-blue);
  color: white;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  letter-spacing: 0.1rem;
  font-size: 12pt;
}

.comparison-form .compare-button:hover {
  background-color: var(--nexus-dark-purple);
}

/* Foutmelding */
.errMessage {
  color: var(--nexus-dark-purple);
}

.comparison-results {
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
}

.comparison-results div {
  width: 50%;
}

#company1-data {
  padding: 20px 40px 20px 0;
  border-right: 1px solid var(--nexus-blue);
}

#company2-data {
  padding: 20px 0 20px 40px;
  border-left: 1px solid var(--nexus-blue);
}

.comparison-results table {
  border-collapse: collapse;
  width: 100%;
}

.comparison-results th {
  text-align: left;
}

.comparison-results td {
  text-align: right;
  padding: 8px 0 8px 8px;
}

/***Bedrijfsinfovenster - stijlen***/
#company-info {
  position: absolute;
  z-index: 10px;
  bottom: 0%;
  left: 20%;
  background-color: white;
  width: fit-content;
  height: auto;
  border-radius: 10px;
  display: none;
}

/*bedrijfsinfotabel*/
#company-info table {
  margin: 100px;
  margin-top: 55px;
  text-align: left;
}

/*Bedrijfsinfo*/
#company-info td {
  padding-left: 50px;
}

/*compare-btn*/
#company-info button:nth-child(2) {
  position: absolute;
  right: 0;
  margin: 20px;
}

/* Landing page */
dialog {
  width: 300px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f2f2f2;
}
dialog button {
  margin: 2rem auto;
  border: none;
  color: white;
  background-color: var(--nexus-dark-purple);
  padding: 0.5em 1em;
  font-family: inherit;
  font-size: 15px;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
}

dialog button:hover {
  background-color: var(--nexus-blue);
}


#main-landing {
  display: flex;
  flex-wrap: wrap;
  max-width: 1700px;
  margin: 0 auto;
  gap: 20px;
  justify-content: center;
}

#body-landing nav {
  box-shadow: none;
  background: none;
  margin-bottom: 1rem;
  display: flex;
  justify-content: space-between;
}

#body-landing {
  background-image: linear-gradient(
    to right,
    var(--nexus-blue),
    var(--nexus-dark-purple)
  );
}

#body-landing nav img {
  border-radius: 0;
  width: 5.5rem;
  height: auto;
  margin: 2rem;
}

.login-button {
  margin: 2rem;
  border: none;
  color: #fff;
  background-image: linear-gradient(
    30deg,
    var(--nexus-dark-purple),
    var(--nexus-blue)
  );
  border-radius: 20px;
  background-size: 100% auto;
  font-family: inherit;
  font-size: 17px;
  padding: 0.6em 1.5em;
  cursor: pointer;
  -webkit-animation: pulse 2s infinite;
  animation: pulse512 1.5s infinite;
}

.login-button:hover {
  cursor: pointer;
}

@keyframes pulse512 {
  0% {
    box-shadow: 0 0 0 0 var(--nexus-light-blue);
  }

  70% {
    box-shadow: 0 0 0 10px rgb(218 103 68 / 0%);
  }

  100% {
    box-shadow: 0 0 0 0 rgb(218 103 68 / 0%);
  }
}

#main-landing figure figcaption {
  color: white;
  text-align: center;
}

figure img {
  margin-bottom: 10px;
  background-color: var(--nexus-blue);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.16), 0 8px 16px rgba(0, 0, 0, 0.23);
}

figure img:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.16), 0 8px 16px rgba(0, 0, 0, 0.23);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

/* Loginpagina */
#login-body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--nexus-dark-purple);
  background-image: url("../img/login-background-dark.svg");
  background-size: cover;
  box-sizing: border-box;
  animation: move 30s linear alternate infinite;
}
@keyframes move {
  50% {
    background-position-x: 50%;
  }
}
#login-box {
  width: 400px;
  height: min-content;
  padding: 40px;
  background: #fff;
  text-align: center;
  border-radius: 16px;
  box-sizing: border-box;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
#login-box h1 {
  font-size: 2.2rem;
  margin: 0;
}
#login-box p {
  color: #404040;
  margin-top: 4px;
  font-size: 1.2rem;
}
#login-box form {
  text-align: left;
  margin-top: 30px;
}
#login-box form .form-group {
  margin: 18px 0;
}
#login-box form .form-group label {
  display: block;
  font-size: 20px;
  color: #101010;
}
#login-box form .form-group input {
  width: 100%;
  height: 40px;
  margin-top: 6px;
  padding: 0 12px 0 34px;
  border: 2px solid #c4c4c4;
  border-radius: 3px;
  box-sizing: border-box;
  font-size: 18px;
  color: #404040;
  transition: 0.3s;
}
#login-box form .form-group input:focus {
  border-color: #124ce7;
  box-shadow: 0 0 12px #bbd3ff;
}
#login-box form .form-group input:valid {
  border-color: #124ce7;
  background: #e4edff;
}
#login-box form .form-group i {
  position: absolute;
  color: #404040;
  font-size: 20px;
  transform: translateX(12px) translateY(16px);
}
#login-box form .forgot {
  cursor: pointer;
  color: #3784ff;
  font-size: 18px;
}
#login-box form .forgot:hover {
  color: #124ce7;
}
#login-box form input[type="submit"] {
  cursor: pointer;
  width: 100%;
  height: 46px;
  border-radius: 3px;
  font-size: 22px;
  margin-top: 28px;
  color: #fff;
  background: linear-gradient(0deg, var(--nexus-purple), var(--nexus-blue));
  border: 0;
}
.login-fout {
  text-align: center;
  color: red;
}

/* History page */
#main-history {
  display: grid;
  grid-template-areas: "history companyInfo companyInfo companyInfo companyInfo";
}
#section-history {
  grid-area: history;
  background-color: rgba(var(--nexus-blue-rgb), 0.8);
}
#section-history h2 {
  color: white;
  padding: 20px;
}
#section-companyInfo {
  grid-area: companyInfo;
}
#table-companyInfo {
  text-align: left;
  display: none;
}

/* About page */
#header-about {
  grid-area: header;
  background: linear-gradient(
      0deg,
      rgba(var(--nexus-blue-rgb), 0.8),
      rgba(var(--nexus-dark-purple-rgb), 0.8)
    ),
    url("../img/header-about.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 40vh;
  text-align: center;
}

#header-about article {
  margin: 0;
  position: relative;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  letter-spacing: 0.2rem;
  width: 50%;
}

#main-about {
  grid-area: main;
  margin: auto;
  text-align: center;
}

#main-about h2 {
  text-align: center;
  margin-top: 40px;
}

#members {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 75%;
  margin: 0 auto;
  padding-bottom: 40px;
  gap: 20px;
}

.member {
  position: relative;
  display: inline-block;
  width: 300px;
  height: 300px;
  margin: 20px;
  text-align: center;
  overflow: hidden;
  background-color: white;
}

.member img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.5s;
}

.member:hover img {
  transform: scale(1.1);
  opacity: 0.8;
}

.member-name {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 20%;
  background-color: rgba(var(--nexus-dark-purple-rgb), 0.8);
  transition: opacity 0.2;
  opacity: 0;
}

.member:hover .member-name {
  opacity: 1;
}

.member h3 {
  text-align: center;
  line-height: 60px;
  color: white;
  display: none;
}

.member:hover h3 {
  margin: auto;
  display: block;
}

.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 25px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* Slider */
.toggle {
  cursor: pointer;
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 4.3rem;
  height: 2.1rem;
  border-radius: 2.1rem;
  transition: 0.2s;
  z-index: 1;
}

.toggle i {
  width: 50%;
  line-height: 2.1rem;
  text-align: center;
  font-size: 1.05rem;
}

.toggle .ball {
  position: absolute;
  width: 1.58rem;
  height: 1.58rem;
  margin: 0.2625rem;
  border-radius: 50%;
  transition: 0.3s ease-out;
}

#toggle {
  display: none;
}

/* Light mode */
.light {
  transition: 0.2s;
  background-color: #fafafa;
}

.light .toggle {
  background: linear-gradient(145deg, #e1e1e1, #fff);
}

.light .toggle .bxs-sun {
  color: #fafafa;
}

.light .toggle .bx-moon {
  color: var(--nexus-dark-purple);
}

.light .toggle .ball {
  background: var(--nexus-dark-purple);
}

/* Dark mode */
.dark {
  background-color: #293133;
  color: white;
}

.dark .darkH {
  color: var(--nexus-light-blue);
}

.dark .titleHome {
  color: var(--nexus-light-blue);
}

.dark #contact-info h1 {
  color: var(--nexus-light-blue);
}

.dark #contact-info p {
  color: white;
}

.dark #contact-info i {
  color: var(--nexus-light-blue);
}

.dark .toggle {
  background: var(--nexus-dark-purple);
}

.dark .toggle .bx-sun {
  color: #fafafa;
}

.dark .toggle .bxs-moon {
  color: var(--nexus-dark-purple);
}

.dark .toggle .ball {
  background: #fafafa;
  transform: translateX(2.2rem);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/* Contact page */
.map {
  flex-basis: 50%;
  height: 100%;
  filter: grayscale(100%) invert(92%) contrast(83%);
}

#main-contact {
  display: flex;
  align-items: stretch;
  height: 100vh;
  width: 100vw;
}

#contact-info {
  flex-basis: 50%;
  display: flex;
  flex-direction: column;
}

#contact-info h1 {
  margin: 4rem;
  font-size: 2.5rem;
  color: var(--nexus-dark-purple);
  text-transform: uppercase;
  letter-spacing: 0.4rem;
}

#contact-info p {
  margin: 0 4rem 1rem;
  color: var(--nexus-purple);
  font-size: 1rem;
  letter-spacing: 0.1rem;
}

#contact-info p i {
  color: var(--nexus-dark-purple);
}

.contact-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  padding: 4rem;
}

.contact-form #name,
.contact-form #email,
.contact-form #subject,
.contact-form #message {
  width: 100%;
  padding: 0.5rem;
  margin-bottom: 1rem;
  border: none;
  outline: none;
  border-bottom: 2px solid var(--nexus-dark-purple);
  box-sizing: border-box;
  font-family: inherit;
}

.contact-form #message {
  resize: vertical;
  min-height: 50px;
  max-height: 200px;
}

.contact-form ::placeholder {
  color: var(--nexus-purple);
  font-size: 12pt;
  opacity: 50%;
}

.contact-form .submit-button {
  padding: 0.5rem 1rem;
  margin-top: 5%;
  background-color: var(--nexus-purple);
  color: white;
  border: none;
  cursor: pointer;
  align-self: flex-start;
  letter-spacing: 0.1rem;
}

/* Media queries */
@media screen and (max-width: 767px) {
  .translator {
    display: none;
  }

  .toggle {
    display: none;
  }

  #main-home {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
  }

  #comparison-tool {
    min-width: 80%;
    margin: 20px auto;
  }

  .comparison-form {
    display: flex;
    flex-direction: column;
  }

  .comparison-form div {
    margin-bottom: 10px;
  }

  .comparison-form input {
    margin-bottom: 10px;
    width: auto;
  }

  .comparison-form #company2-input {
    order: 2;
  }

  .comparison-form .compare-button {
    order: 3;
    height: 45px;
  }

  .comparison-results {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .comparison-results #company1-data,
  .comparison-results #company2-data {
    padding: 20px;
    width: 100%;
    border: none;
  }

  .comparison-results .company1-data {
    order: 1;
  }

  .comparison-results .company2-data {
    order: 2;
  }

  #main-contact {
    flex-direction: column;
    height: auto;
  }

  .map {
    flex-basis: 100%;
    width: 100vw;
    order: 2;
  }
}
