/*Algemeen*/
:root {
  --nexus-light-blue: #9eacdf;
  --nexus-blue: #7496c1;
  --nexus-dark-purple: #34344d;
  --nexus-purple: #54526a;
  --nexus-light-blue-rgb: 158, 172, 223;
  --nexus-blue-rgb: 116, 150, 193;
  --nexus-dark-purple-rgb: 52, 52, 77;
  --nexus-purple-rgb: 84, 82, 106;
}
html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 0.05rem;
}
body {
  display: grid;
  grid-template-areas:
    "nav    nav    nav    nav    nav"
    "header header header header header"
    "main   main   main   main   main   "
    "footer footer footer footer footer";
  grid-template-rows: auto auto 1fr auto;
}
main {
  grid-area: main;
  height: 100%;
}
main h1, #home h2 {
  color: var(--nexus-dark-purple);
  text-transform: uppercase;
  letter-spacing: 0.1rem;
}
main button {
  text-transform: uppercase;
}

/*Voet*/
footer {
  grid-area: footer;
  background-color: var(--nexus-blue);
  color: white;
  padding: 10px;
  text-align: center;
}

/*Navigatie*/
nav {
  grid-area: nav;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: var(--nexus-blue);
  box-shadow: 0px 0px 9px 3px rgba(41, 41, 41, 0.25);
  height: 3rem;
}
nav ul {
  display: flex;
  list-style: none;
}
nav ul li a {
  display: block;
  text-decoration: none;
  text-transform: uppercase;
  color: white;
  font-size: 0.8rem;
  letter-spacing: 0.2rem;
  margin: 0rem 1.5rem 0 0;
}
.nav__a--active {
  color: var(--nexus-dark-purple);
}
#nav-right {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menu__button--mobile {
  display: none;
}

/*Vertaalknop en -menu*/
#translator {
  position: relative;
  display: inline-block;
}
.translator__ul--dropdown {
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  position: absolute;
  margin: 0 auto;
  right: 11%;
  padding: 0.9rem;
  z-index: 1;
  display: none;
  background-color: var(--nexus-blue);
}
#translator ul {
  text-align: center;
}
#translator ul li {
  display: inline-block;
  position: relative;
}
#translator ul li a {
  text-align: center;
}
.translator__ul--dropdown li {
  display: block;
  margin-top: 10px;
}
.translator__ul--dropdown li a span {
  padding: 0.7rem;
  border-radius: 20%;
}
#translator ul li:hover .translator__ul--dropdown {
  display: block;
}

/*Kleurmodusknop*/
.toggle {
  cursor: pointer;
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 4.3rem;
  height: 2.1rem;
  border-radius: 2.1rem;
  transition: 0.2s;
  z-index: 1;
}
.toggle i {
  width: 50%;
  line-height: 2.1rem;
  text-align: center;
  font-size: 1.05rem;
}
.toggle .ball {
  position: absolute;
  width: 1.58rem;
  height: 1.58rem;
  margin: 0.2625rem;
  border-radius: 50%;
  transition: 0.3s ease-out;
}
#toggle {
  display: none;
}

/*Lichtmodus*/
.light {
  transition: 0.2s;
  background-color: #fafafa;
}
.light .toggle {
  background: linear-gradient(145deg, #e1e1e1, #fff);
}
.light .toggle .bxs-sun {
  color: #fafafa;
}
.light .toggle .bx-moon {
  color: var(--nexus-dark-purple);
}
.light .toggle .ball {
  background: var(--nexus-dark-purple);
}

/*Donkere modus*/
.body--dark {
  background-color: #293133;
  color: white;
}
.body--dark {
  color: var(--nexus-light-blue);
}
.body--dark #home__comparison h1 {
  color: var(--nexus-light-blue);
}
.body--dark #contact-info h1 {
  color: var(--nexus-light-blue);
}
.body--dark #contact-info p {
  color: white;
}
.body--dark #contact-info i {
  color: var(--nexus-light-blue);
}
.body--dark .toggle {
  background: var(--nexus-dark-purple);
}
.body--dark .toggle .bx-sun {
  color: #fafafa;
}
.body--dark .toggle .bxs-moon {
  color: var(--nexus-dark-purple);
}
.body--dark .toggle .ball {
  background: #fafafa;
  transform: translateX(2.2rem);
}

/*Landing-pagina*/
#body-landing {
  background-image: linear-gradient(to right, var(--nexus-blue), var(--nexus-dark-purple));
}
#body-landing nav {
  box-shadow: none;
  background: none;
  margin-bottom: 1rem;
  display: flex;
  justify-content: space-between;
}
#body-landing nav img {
  border-radius: 0;
  width: 5.5rem;
  height: auto;
  margin-top: 2rem;
}
.nav__button--login {
  margin-top: 2rem;
  margin-right: 1rem;
  border: none;
  color: #fff;
  background-image: linear-gradient( 30deg, var(--nexus-dark-purple), var(--nexus-blue));
  border-radius: 20px;
  background-size: 100% auto;
  font-family: inherit;
  font-size: 17px;
  padding: 0.6em 1.5em;
  cursor: pointer;
  -webkit-animation: pulse 2s infinite;
  animation: pulse 1.5s infinite;
  /*BRON: https://uiverse.io/niat786/perfect-warthog-57*/
}
.nav__button--login:hover {
  cursor: pointer;
}
@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 var(--nexus-light-blue);
  }

  70% {
    box-shadow: 0 0 0 10px rgb(218 103 68 / 0%);
  }

  100% {
    box-shadow: 0 0 0 0 rgb(218 103 68 / 0%);
  }
  /*BRON: https://uiverse.io/niat786/perfect-warthog-57*/
}
#landing {
  display: flex;
  flex-wrap: wrap;
  max-width: 1700px;
  margin: 0 auto;
  gap: 20px;
  justify-content:space-evenly;
}
figure img {
  margin-bottom: 10px;
  background-color: var(--nexus-blue);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.16), 0 8px 16px rgba(0, 0, 0, 0.23);
}
figure img:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.16), 0 8px 16px rgba(0, 0, 0, 0.23);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
#landing figure figcaption {
  color: white;
  text-align: center;
}
dialog {
  width: 300px;
  padding: 20px;
  border-style:  solid;
  border-color: red;
  background-color: rgba(255, 0, 0, 0.8);
  color: white;
  border-radius: 5px;
  display: none;
  text-align: center;
  position:  absolute;
  transform: translatey(-250px);
  z-index: 1;
}
.dialog--visible {
  display: block;
}
dialog {
  animation: hide 10s;
}
@keyframes hide {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

/*Loginpagina*/
#body-login {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--nexus-dark-purple);
  background-image: url("../img/login-background-dark.svg");
  background-size: cover;
  box-sizing: border-box;
  animation: move 30s linear alternate infinite;
}
@keyframes move {
  50% {
    background-position-x: 50%;
  }
}
#log {
  width: 400px;
  height: min-content;
  padding: 40px;
  background: #fff;
  text-align: center;
  border-radius: 16px;
  box-sizing: border-box;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
#log h1 {
  font-size: 2.2rem;
  margin: 0;
}
#log p {
  color: #404040;
  margin-top: 4px;
  font-size: 1.2rem;
}
#log form {
  text-align: left;
  margin-top: 30px;
}
#log form .login-form__div {
  margin: 18px 0;
}
#log form .login-form__div label {
  display: block;
  font-size: 20px;
  color: #101010;
}
#log form .login-form__div input {
  width: 100%;
  height: 40px;
  margin-top: 6px;
  padding: 0 12px 0 34px;
  border: 2px solid #c4c4c4;
  border-radius: 3px;
  box-sizing: border-box;
  font-size: 18px;
  color: #404040;
  transition: 0.3s;
}
#log form .login-form__div input:focus {
  border-color: #124ce7;
  box-shadow: 0 0 12px #bbd3ff;
}
#log form .login-form__div input:valid {
  border-color: #124ce7;
  background: #e4edff;
}
#log form .login-form__div i {
  position: absolute;
  color: #404040;
  font-size: 20px;
  transform: translateX(12px) translateY(16px);
}
#log form .forgot {
  cursor: pointer;
  color: #3784ff;
  font-size: 18px;
}
#log form .forgot:hover {
  color: #124ce7;
}
#log form input[type="submit"] {
  cursor: pointer;
  width: 100%;
  height: 46px;
  border-radius: 3px;
  font-size: 22px;
  margin-top: 28px;
  color: #fff;
  background: linear-gradient(0deg, var(--nexus-purple), var(--nexus-blue));
  border: 0;
}
.log-err{
text-align: center;
  color: red;
}

/*Home-pagina*/
#home-header {
  grid-area: header;
  background: linear-gradient( 0deg, rgba(var(--nexus-blue-rgb), 0.8), rgba(var(--nexus-dark-purple-rgb), 0.8)), url("../img/header-home.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 40vh;
  text-align: center;
}
#home-header article {
  margin: 0;
  position: relative;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  letter-spacing: 0.2rem;
  width: 50%;
}
#home {
  height: 100%;
}
#home__comparison {
  margin: 50px auto;
  max-width: 60%;
  display: flex;
  flex-direction: column;
  letter-spacing: 0.05rem;
  line-height: 1.5;
}
#home__comparison h1 {
  margin-bottom: 30px;
}
#home__comparison-error {
  text-align: center;
  background-color: rgba(255, 0, 0, 0.2);
  border-style: solid;
  border-color: red;
  margin-bottom: 20px;
  padding: 20px;
  border-radius: 10px;
  color: red;
}
.comparisonTool__button { 
  position: relative;
  padding: 8px 16px;
  background: #009579;
  border: none;
  outline: none;
  border-radius: 2px;
  cursor: pointer;
}
.button__text {
  color: #ffffff;
  transition: all 0.2s;
  /*BRON: https://dev.to/dcodeyt/create-a-button-with-a-loading-spinner-in-html-css-1c0h*/
}
.button--loading .button__text {
  visibility: hidden;
  opacity: 0;
  /*BRON: https://dev.to/dcodeyt/create-a-button-with-a-loading-spinner-in-html-css-1c0h*/
}
.button--loading::after {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  border: 4px solid transparent;
  border-top-color: #ffffff;
  border-radius: 50%;
  animation: button-loading-spinner 1s ease infinite;
  /*BRON: https://dev.to/dcodeyt/create-a-button-with-a-loading-spinner-in-html-css-1c0h*/
}
@keyframes button-loading-spinner {
  from {
    transform: rotate(0turn);
  }

  to {
    transform: rotate(1turn);
  }
  /*BRON: https://dev.to/dcodeyt/create-a-button-with-a-loading-spinner-in-html-css-1c0h*/
}
#comparison__tool {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
#comparison__tool div {
  display: flex;
  flex-direction: column;
}
#comparison__tool input {
  padding: 5px;
  width: 15vw;
  height: 30px;
}
#comparison__tool::placeholder {
  color: var(--nexus-purple);
  opacity: 50%;
}
.comparisonTool__button {
  padding: 5px 20px;
  min-width: 150px;
  background-color: var(--nexus-blue);
  color: white;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  letter-spacing: 0.1rem;
  font-size: 12pt;
}
.comparisonTool__button:hover {
  background-color: var(--nexus-dark-purple);
}
#comparison-results {
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
}
#comparison-results div {
  width: 50%;
}
#company1-data {
  padding: 20px 40px 20px 0;
  border-right: 1px solid var(--nexus-blue);
}
#company2-data {
  padding: 20px 0 20px 40px;
  border-left: 1px solid var(--nexus-blue);
}
#comparison-results table {
  border-collapse: collapse;
  width: 100%;
}
#comparison-results th {
  text-align: left;
}
#comparison-results td {
  text-align: right;
  padding: 8px 0 8px 8px;
}
.comparison-results__span--greater {
  color: green;
}
.comparison-results__span--lesser {
  color: red;
}
.comparison-results__span--equal {
  color: black;
}

/*Historiekpagina*/
#history {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background: linear-gradient(
      0deg,
      rgba(var(--nexus-blue-rgb), 0.8),
      rgba(var(--nexus-dark-purple-rgb), 0.8)
    ),
    url("../img/header-home.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}
#search-history {
  background-color: rgba(var(--nexus-blue-rgb), 0.8);
  padding: 40px;
  overflow-y: scroll;
  height: 60%;
}
#search-history h1 {
  color: var(--nexus-dark-purple);
  text-transform: uppercase;
  padding-bottom: 10px;
}
#search-history a {
  text-decoration: none;
  color: white;
}
#search-history article h2, #search-history article p {
  margin: 0;
}
#search-history article p {
  margin-bottom: 20px;
}
#company-info {
  padding: 40px;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  height: 60%;
}
#company-info table {
  width: 25vw;
  line-height: 2.5;
  text-align: center;
}
#company-info table caption {
  margin-top: 15px;
  padding-bottom: 3rem;
  font-size: 1.5rem;
  font-weight: 600;
}
#company-info table th {
  text-align: left;
}
#company-info table td {
  text-align: right;
}
/* SearchBar */
/* Bron: https://codepen.io/omarsherifs/pen/KGLYYW */
.searchBox {
  position: relative;
  left: 50%;
  bottom: 10%;
  transform:  translate(-50%,50%);
  background-color: rgba(0, 0, 0, 0.5);
  height: 40px;
  border-radius: 10px;
  padding: 8px;
}

.searchBox:hover {
  background-color:  rgba(0, 0, 0, 0.6);
  transition: 0.6s;
}
.searchBox:hover .searchInput {
  width: 150px;
  padding: 0 6px;
}

.searchBox:hover .searchButton {
 cursor: pointer;
  background-color: rgba(0, 0, 0, 0.6);
}

.searchButton {
  color: var(--nexus-blue);
  float: right;
  width: 40px;
  height: 40px;
  border-radius: 30%;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.6s;
}

.searchInput {
  border:none;
  background: none;
  outline:none;
  float:left;
  padding: 0;
  color: white;
  font-size: 18px;
  transition: 0.6s;
  line-height: 40px;
  width: 0px;
}


/*Zoekbalk*/
.search-box__div {
  position: relative;
  left: 50%;
  bottom: 10%;
  transform:  translate(-50%,50%);
  background-color: rgba(0, 0, 0, 0.5);
  height: 40px;
  border-radius: 10px;
  padding: 8px;
  /*BRON: https://codepen.io/omarsherifs/pen/KGLYYW*/
}
.search-box__div:hover {
  background-color:  rgba(0, 0, 0, 0.6);
  transition: 0.6s;
  /*BRON: https://codepen.io/omarsherifs/pen/KGLYYW*/
}
.search-box__div:hover .search-box__input {
  width: 150px;
  padding: 0 6px;
  /*BRON: https://codepen.io/omarsherifs/pen/KGLYYW*/
}
.search-box__div:hover .search-box__button {
 cursor: pointer;
  background-color: rgba(0, 0, 0, 0.6);
  /*BRON: https://codepen.io/omarsherifs/pen/KGLYYW*/
}
.search-box__input {
  border:none;
  background: none;
  outline:none;
  float:left;
  padding: 0;
  color: white;
  font-size: 18px;
  transition: 0.6s;
  line-height: 40px;
  width: 0px;
  /*BRON: https://codepen.io/omarsherifs/pen/KGLYYW*/
}
.search-box__button {
  color: var(--nexus-blue);
  float: right;
  width: 40px;
  height: 40px;
  border-radius: 30%;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.6s;
  /*BRON: https://codepen.io/omarsherifs/pen/KGLYYW*/
}

/*Over ons-pagina*/
#about-header {
  grid-area: header;
  background: linear-gradient(0deg, rgba(var(--nexus-blue-rgb), 0.8), rgba(var(--nexus-dark-purple-rgb), 0.8)),url("../img/header-about.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 40vh;
  text-align: center;
}
#about-header article {
  margin: 0;
  position: relative;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  letter-spacing: 0.2rem;
  width: 50%;
}
#about {
  grid-area: main;
  margin: auto;
  text-align: center;
}
#about h2 {
  text-align: center;
  margin-top: 40px;
}
#members {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 75%;
  margin: 0 auto;
  padding-bottom: 40px;
  gap: 20px;
}
.members__article {
  position: relative;
  display: inline-block;
  width: 300px;
  height: 300px;
  margin: 20px;
  text-align: center;
  overflow: hidden;
  background-color: white;
}
.members__article img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.5s;
}
.members__article:hover img {
  transform: scale(1.1);
  opacity: 0.8;
}
.members__div--hover {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 20%;
  background-color: rgba(var(--nexus-dark-purple-rgb), 0.8);
  transition: opacity 0.2;
  opacity: 0;
}
.members__article:hover .members__div--hover {
  opacity: 1;
}
.members__article h3 {
  text-align: center;
  line-height: 60px;
  color: white;
  display: none;
}
.members__article:hover h3 {
  margin: auto;
  display: block;
}

/*Contactpagina*/
.map {
  flex-basis: 50%;
  height: 100%;
  filter: grayscale(100%) invert(92%) contrast(83%);
}
#contact {
  display: flex;
  align-items: stretch;
  height: 100vh;
  width: 100%;
}
#contact-info {
  flex-basis: 50%;
  display: flex;
  flex-direction: column;
}
#contact-info h1 {
  margin: 4rem;
  font-size: 2.5rem;
  color: var(--nexus-dark-purple);
  text-transform: uppercase;
  letter-spacing: 0.4rem;
}
#contact-info address {
  font-style: normal;
}
address a {
  color: var(--nexus-purple);
  text-decoration: none;
}
#contact-info p {
  margin: 0 4rem 1rem;
  color: var(--nexus-purple);
  font-size: 1rem;
  letter-spacing: 0.1rem;
}
#contact-info p i {
  color: var(--nexus-dark-purple);
}
.contact__form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  padding: 4rem;
}
.contact__form #name, .contact__form #email, .contact__form #subject, .contact__form #message {
  width: 100%;
  padding: 0.5rem;
  margin-bottom: 1rem;
  border: none;
  outline: none;
  border-bottom: 2px solid var(--nexus-dark-purple);
  box-sizing: border-box;
  font-family: inherit;
}
.contact__form #message {
  resize: vertical;
  min-height: 50px;
  max-height: 200px;
}
.contact__form::placeholder {
  color: var(--nexus-purple);
  font-size: 12pt;
  opacity: 50%;
}
.contact__form .submit__button {
  padding: 0.5rem 1rem;
  margin-top: 5%;
  background-color: var(--nexus-blue);
  color: white;
  border: none;
  cursor: pointer;
  align-self: flex-start;
  letter-spacing: 0.1rem;
  transition: 1s;
}
.contact__form .submit__button:hover{
  background-color: var(--nexus-dark-purple);
}

/*Mediaqueries*/
@media screen and (max-width: 776px) {
  #home-header {
    height: 25vw;
  }
  #home-header p {
    display: none;
  }
  #about-header {
    height: 25vw;
  }
  #about-header p {
    display: none;
  }
}
@media screen and (max-width: 767px) {
  .nav__menu {
    position: fixed;
    transform: translateY(-110%);
    transition: transform 0.2s;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 99;
    background: var(--nexus-blue);
    color: white;
    list-style: none;
    padding: 4rem 0 0 0;
    flex-wrap: wrap;
    text-align: center;
    height: 100vh;
  }
  .nav__menu li {
    width: 100vw;
    margin: 0;
    margin-top: 4rem;
  }
  nav ul li a {
    font-size: 1.4rem;
    margin: 0;
  }
  .nav__menu--show {
    transform: translateY(-2%);
  }
  .menu__li {
    color: white;
    text-decoration: none;
  }
  .menu__button--mobile {
    display: block;
    position: relative;
    z-index: 100;
    background-color: transparent;
    border: none;
    color: white;
    cursor: pointer;
  }
  .menu__button--mobile .icon--close {
    display: none;
  }
  #translator {
    display: none;
  }
  .toggle {
    display: none;
  }
  #home {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  #home__comparison {
    min-width: 80%;
    margin: 20px auto;
  }
  #comparison__tool {
    display: flex;
    flex-direction: column;
  }
  #comparison__tool div {
    margin-bottom: 10px;
  }
  #comparison__tool input {
    margin-bottom: 10px;
    width: auto;
  }
  #comparison__tool #company2-input {
    order: 2;
  }
  #comparison__tool .comparisonTool__button {
    order: 3;
    height: 45px;
  }
  #comparison-results {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #comparison-results #company1-data, #comparison-results #company2-data {
    padding: 20px;
    width: 100%;
    border: none;
  }
  #comparison-results .company1-data {
    order: 1;
  }
  #comparison-results .company2-data {
    order: 2;
  }
  #search-history {
    margin-top: 4%;
    padding: 10px;
    height: 50%;
    width: 80%;
  }
  #company-info {
    padding: 10px;
    height: 40%;
    width: 80%;
    margin-bottom: 5%;
  }
  #company-info table {
    line-height: 1.5rem;
    text-align: center;
    margin: 0 auto;
  }
  #company-info table caption {
    padding-bottom: 1rem;
    font-size: 1rem;
  }
  #contact {
    flex-direction: column;
    height: auto;
  }
  .map {
    flex-basis: 100%;
    width: 100%;
    order: 2;
  }
}
@media screen and (max-width: 900px) {
  #search-history {
    margin-top: 4%;
    padding: 10px;
    height: 50%;
    width: 80%;
  }
  #company-info {
    padding: 10px;
    height: 40%;
    width: 80%;
    margin-bottom: 5%;
  }
  #company-info table {
    line-height: 1.5rem;
    text-align: center;
    margin: 0 auto;
  }
  #company-info table caption {
    padding-bottom: 1rem;
    font-size: 1rem;
  }
}